<!--<section class="home-banner-container">-->
  <swiper [pagination]="true">
      <ng-template swiperSlide><img src="assets/images/banner-1.jpg" alt="banner1"></ng-template>
      <ng-template swiperSlide><img src="assets/images/banner-2.jpg" alt="banner2"></ng-template>
      <ng-template swiperSlide><img src="assets/images/banner-3.jpg" alt="banner3"></ng-template>

      <!--<ng-template swiperSlide>Slide 1</ng-template>-->
      <!--<ng-template swiperSlide>Slide 2</ng-template>-->
      <!--<ng-template swiperSlide>Slide 3</ng-template>-->
      <!--<ng-template swiperSlide>Slide 4</ng-template>-->
      <!--<ng-template swiperSlide>Slide 5</ng-template>-->
      <!--<ng-template swiperSlide>Slide 6</ng-template>-->
      <!--<ng-template swiperSlide>Slide 7</ng-template>-->
      <!--<ng-template swiperSlide>Slide 8</ng-template>-->
      <!--<ng-template swiperSlide>Slide 9</ng-template>-->
    </swiper>
  <!-- </section> -->